ID=001
VIP_ADDRESS="{{ mysql_replication_vip }}"
BIND_INTERFACE="{{ bindinterfacelocal }}"
SOURCE_ADDRESS="{{ mysql_replication_master }}"
OPTIONS="-k 1 --shutdown --preempt"
PASSFILE="/etc/ucarp/vip-001.pwd"
